# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/_build/

# Environments
venv/

# Data
data/

# Optuna
optuna_runs/

# Experiments
exp

# Python version
.python-version